<div class="o-box o-box--article">
    <hr>
    <div class="o-layout o-layout--middle u-margin-bottom u-content-center@mobile">
        <div class="o-layout__item u-1/2@tablet u-content-right u-content-center@mobile">Möchten Sie mehr über Desmond Doss erfahren?</div>
        <div class="o-layout__item u-1/2@tablet"><a class="c-btn c-btn--primary c-btn--ghost" href="http://www.desmonddoss.de">www.desmonddoss.de</a></div>
        <div class="o-layout__item u-padding-tiny"></div>
        <div class="o-layout__item u-1/2@tablet u-content-right u-content-center@mobile">Möchten Sie mehr über seinen Glauben erfahren?</div>
        <div class="o-layout__item u-1/2@tablet"><a class="c-btn c-btn--primary c-btn--ghost" href="http://www.bibelstudien-institut.de/kurse/die-offenbarung-jesu-christi/">www.bibelstudien-institut.de</a></div>
        <div class="o-layout__item u-padding-tiny"></div>
        <div class="o-layout__item u-1/2@tablet u-content-right u-content-center@mobile">Mehr Videos zum Glauben von Desmond Doss:</div>
        <div class="o-layout__item u-1/2@tablet"><a class="c-btn c-btn--primary c-btn--ghost" href="http://joelmediatv.de">www.joelmediatv.de</a></div>
    </div>
    <hr>
</div>

