<footer class="o-wrapper">
    <div class="o-box u-content-right">
        <small>
            <ul class="o-list-inline u-margin-none">
                <li class="o-list-inline__item u-margin-right"><a class="c-a c-a--plain" name="impressum" href="/impressum/">Impressum</a></li>
                <li class="o-list-inline__item u-margin-right"><a class="c-a c-a--plain" name="datenschutz" href="/datenschutz/">Datenschutzerkl&auml;rung</a></li>
            </ul>
        </small>
    </div>
</footer>
