<footer class="c-site-footer {{page.footer-class}}">
    <div class="o-wrapper">
        <div class="o-box">

            <div class="o-layout">

                <div class="o-layout__item u-1/3@tablet">
                    <ul class="o-list-inline u-margin-none">
                        {% comment %}
                        <li class="o-list-inline__item u-margin-right-small">
                            <a class="c-site-footer__logo" href="http://sta-bw.de"><img src="/assets/img/logo-sta-bw.svg" alt="Freikirche der Siebenten-Tags Adventisten in BW Logo" title="Freikirche der Siebenten-Tags-Adventisten in Baden-Württemberg"></a>
                        </li>
                        {% endcomment %}
                        <li class="o-list-inline__item u-margin-right-small">
                            <a class="c-site-footer__logo" href="http://joelmediatv.de"><img src="/assets/img/logo-joelmediatv.svg" alt="Joel Media Ministry e.V. Logo" title="Joel Media Ministry e.V."></a>
                        </li>
                        <li class="o-list-inline__item">
                            <a class="c-site-footer__logo" href="https://www.memento-medien.de"><img src="/assets/img/logo-memento.svg" alt="Memento Medien e.V. Logo" title="Memento Medien e.V."></a>
                        </li>
                    </ul>
                </div>

                <div class="o-layout__item u-1/3@tablet c-site-footer__credits">
                    <a class="c-a c-a--plain" href="http://www.desmonddoss.com">Bilder &copy; Desmond Doss Council</a>
                    <br>Website &copy; 2016 www.hacksawridge.de
                </div>

                <div class="o-layout__item u-1/3@tablet u-content-right">
                    <ul class="o-list-inline c-site-footer__right u-margin-none">
                        <li class="o-list-inline__item u-margin-right"><a class="c-a c-a--plain" name="impressum" href="/impressum/">Impressum</a></li>
                        <li class="o-list-inline__item u-margin-right"><a class="c-a c-a--plain" name="datenschutz" href="/datenschutz/">Datenschutzerkl&auml;rung</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</footer>
