
<div class="o-box o-box--small u-content-center">
    <button name="mobieNavOperator" data="open" class="c-mobile-nav__open c-btn c-btn--ghost c-btn--primary c-btn--square u-box-center">
        <span class="icon-menu"></span>
    </button>
</div>

<nav class="c-mobile-nav">

    <div class="o-box o-box--small u-content-center">
        <button name="mobieNavOperator" data="close" class="c-mobile-nav__close c-btn c-btn--ghost c-btn--primary c-btn--square">
            <span class="icon-cancel"></span>
        </button>
    </div>

    <ul class="c-mobile-nav__list">
        {% for item in site.navitems %}
            <li class="c-mobile-nav__item">
                <a class="c-mobile-nav__link" name="{{ item[0] }}" href="{{ item[1][1] }}">{{ item[1][0] }}</a>
            </li>
        {% endfor %}
    </ul>

</nav>
