/* ==========================================================================
   #EMBED-BOX
   ========================================================================== */

.c-embed-box {
    margin-left: -$unit;
    margin-right: -$unit;
    padding: $unit 0;
}

.c-embed-box__inner {
    max-width: 500px;
}
