/* ==========================================================================
   #PAGE
   ========================================================================== */

.c-page {
    background-color: $color-brand-secondary;
    background-image: url('../img/hacksawridge-bg-tile.jpg');
    background-size: 50px 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

    .c-page--landing {
        background-image: url('../img/hacksawridge-bg-doss.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        @include mq($until: tablet) {
            background-position: 42% center;
        }
    }

    .c-title {
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
    }

        .c-title__sup {
            color: $color-brand-primary;
            font-size: 80%;
        }

        .c-title__main {
            font-size: 4em;
            line-height: 1;
        }

        .c-title__icon {
            margin-top: -2em;

            @include mq($until: tablet) {
                width: 20px;
            }
        }

        .c-title__sub {
            font-size: 1em;
            font-weight: normal;
        }
