/* ==========================================================================
   #SITE-NAV
   ========================================================================== */

.c-site-nav {

    @include mq($until: tablet) {
        .o-list-inline__item {
            display: block;
            margin-bottom: $inuit-global-spacing-unit-tiny;
        }
    }
}



$pages: (
    'home'
    'doss'
    'biographie'
    'videos'
    'kontakt'
);

@each $page in $pages {

    .page--#{$page} [name=#{$page}] {
        color: $color-brand-primary;
    }

}
