/* ==========================================================================
   #BADGE
   ========================================================================== */

.c-badge {
    border: $btn-ghost-border-width solid currentColor;
    color: $color-brand-primary;
    font-size: 70%;
    font-weight: 400;
    margin-right: $unit / 4;
    padding: $unit / 4 $unit / 3;
    vertical-align: middle;
}
