/* ==========================================================================
   #MOBILE-NAV
   ========================================================================== */

/**
 * This class is applied to the html tag
 *
 * 1. disable scroll on main site when mobile-nav is open
 */
.c-page--mobile-nav-open {
    overflow: hidden; /* [1] */
}

.c-mobile-nav {
    background: rgba($color-black, .85);
    height: 100%;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: $unit $unit * 2 $unit * 2;
    position: absolute;
    top: 0;
    transition: $global-transition .2s;
    visibility: hidden;
    width: 100%;
    z-index: 1024;


    .c-page--mobile-nav-open & {
        opacity: 1;
        transition: $global-transition;
        visibility: visible;
    }
}

    .c-mobile-nav__open {
        .c-page--mobile-nav-open & {
            visibility: hidden;
        }
    }

    // .c-mobile-nav__close {
    //     position: absolute;
    //     right: $unit;
    //     top: $unit;
    // }

    .c-mobile-nav__list {
        list-style: none;
        margin-left: 0;
    }

        .c-mobile-nav__item {
            border-bottom: 1px solid rgba($color-brand-secondary, .5);
            font-size: 1.4em;
            margin-top: $unit;
            opacity: 0;
            text-align: center;

            &:last-child {
                border-bottom: 0;
            }

            .c-page--mobile-nav-open & {
                margin-top: 0;
                opacity: 1;
            }
        }

            .c-mobile-nav__link {
                color: $color-brand-secondary;
                display: inline-block;
                padding: $unit;
                text-decoration: none;
            }

/**
 * Nav Item Animation
 *
 * 1. fade-out transition
 * 2. fade-in transition
 */
$delay-in: 0;
$delay-out: .3;

@for $i from 1 through 5 {

    .c-mobile-nav__item:nth-child(#{$i}) {
        transition: $global-transition #{$delay-out}s; /* [1] */

        .c-page--mobile-nav-open & {
            transition: $global-transition #{$delay-in}s; /* [2] */
        }
    }

    $delay-in: $delay-in + .05;
    $delay-out: $delay-out - .05;
}

