/* ==========================================================================
   #SITE-FOOTER
   ========================================================================== */
$footer-height: $unit * 2;

.c-site-footer {
    .o-layout__item {
        @include mq($until: tablet) {
            margin-bottom: $unit;
            text-align: center;
        }
    }
}

.c-site-footer--gradient {
    position: relative;
    padding-top: $unit * 2;

    &:after {
        @include clothoid-gradient($color-brand-secondary, 0deg);
        position: absolute;
        top: -($unit * 4);
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -99;
        content: "";
    }
}

    .c-site-footer__logo {
        transition: opacity $global-transition;
        opacity: .6;

        &:hover,
        &:focus,
        &:active {
            opacity: 1;
        }

        > img {
            max-height: $footer-height;

            @include mq($until: desktop) {
                max-height: $footer-height * .6;
            }
        }
    }

    .c-site-footer__credits {
        @include font-size($font-size * .8);
        vertical-align: middle;
        line-height: 1.5;
    }

    .c-site-footer__right {
        @include mq($from: tablet) {
            line-height: $footer-height * 1.2;
            font-size: 75%;
        }
    }
