/* ==========================================================================
   #LIST-RESPONSIVE
   ========================================================================== */

/**
 * A list that is stacked up to a certain breakpoint and then inline
 *
 * Example:
 *      .o-list-responsive@tablet – will stack the list for mobile and inline it for tablet, desktop and wide
 *
 * Breakpoints: @mobile @tablet @desktop @wide
 *
 * Variatios:
 *      .o-list-responsive--flush – no space between list elements
 */

$breakpoint-separator: \@;

[class^="o-list-responsive"] {
    list-style: none;
    margin-left: 0;
}

    .o-list-responsive__item {
        display: block;
        margin-bottom: $unit;

        &:last-child {
            margin-bottom: 0;
        }
    }


@each $bp-name, $bp-value in $mq-breakpoints {

    .o-list-responsive#{$breakpoint-separator}#{$bp-name} .o-list-responsive__item {
        @include mq($from: $bp-name) {
            display: inline-block;
            margin-bottom: 0;
            margin-right: $unit;

            &:last-child {
                margin-right: 0;
            }
        }
    }

}

.o-list-responsive--flush .o-list-responsive__item {
    margin-right: 0;
    margin-bottom: 0;
}
