---
layout: main
page-class: page--home c-page--landing
---

<div class="o-wrapper">

    <div class="u-2/3  u-push-1/3">

        <div class="o-box c-title">
            <p class="c-title__sup u-margin-none">Die Geschichte eines wahren Helden</p>
            <h1 class="c-title__main">HACKSAW<br>RIDGE</h1>
            <img class="c-title__icon" src="/assets/img/icon-plus.svg" alt="">
            <h2 class="c-title__sub">Krieg machte ihn zum Soldat.<br>Glaube machte ihn zum Helden.</h2>
        </div>

        {% include nav.html %}

        <div class="o-box u-content-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KItJboL0ooU" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="o-box u-content-center">
            <a href="#" class="c-btn c-btn--primary u-margin-right">Mehr Vieos ansehen</a>
            <a href="#" class="c-btn c-btn--ghost c-btn--primary">Seine Biographie</a>
        </div>

    </div>

    {{ content }}


</div>
