---
layout: main
---

<div class="o-wrapper">

    <div class="u-2/3  u-push-1/3">

        <div class="o-box c-title">
            <p class="c-title__sup u-margin-none">Die Geschichte eines wahren Helden</p>
            <h1 class="c-title__main">HACKSAW<br>RIDGE</h1>
            <img class="c-title__icon" src="/assets/img/icon-plus.svg" alt="">
            <h2 class="c-title__sub">Krieg machte ihn zum Soldat.<br>Glaube machte ihn zum Helden.</h2>
        </div>

        <div class="o-box o-pack o-pack--auto">
            <div class="o-pack__item">
                <a class="c-btn c-btn--doss c-btn--primary" href="#">Desomnd T. Doss</a>
            </div>
            <div class="o-pack__item">
                <a class="c-btn c-btn--doss c-btn--primary" href="#">Seine Autorisierte Biographie</a>
            </div>
            <div class="o-pack__item">
                <a class="c-btn c-btn--doss c-btn--primary" href="#">Videos über den Helden</a>
            </div>
            <div class="o-pack__item">
                <a class="c-btn c-btn--doss c-btn--primary" href="#">Kontakt</a>
            </div>
        </div>

    </div>

    {{ content }}


</div>
